@import "bootstrap/scss/bootstrap";

:root {
  --font-inter: "Inter", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
  --bs-dark: #0d0d0d;
  --bs-gray: #707070;
  --bs-secondary: #dae1ea;
  --bs-dark-rgb: 13, 13, 13;
  --bs-light-rgb: 239, 242, 246;

  //Variables for font weights
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // Variables for font sizes
  --font-xxs: 13px;
  --font-xs: 14px;
  --font-ssm: 16px;
  --font-sm: 17px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-llg: 22px;
  --font-xlg: 25px;
  --font-xxl: 36px;
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border: 0;
}

.dropdown-menu.show {
  background-color: #0d0d0d;
  min-width: 395px;
}

.bg-dark {
  background-color: var(--bs-dark);
}
