@import "bootstrap/scss/bootstrap";

:root {
  --font-inter: "Inter", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
  --bs-dark: #000000;
  --bs-dark-rgb: 13, 13, 13;
  --bs-ligh-rgb: 239, 242, 246;
}
