@import "bootstrap/scss/bootstrap";

:root {
  --font-inter: "Inter", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
  --bs-dark: #000000;
  --bs-dark-rgb: 13, 13, 13;
  --bs-ligh-rgb: 239, 242, 246;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-public-sans {
  font-family: var(--font-public-sans);
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}
