@import "bootstrap/scss/bootstrap";

// Font families
.font-inter {
  font-family: var(--font-inter);
}

.font-public-sans {
  font-family: var(--font-public-sans);
}

// Font weights
.fw-normal {
  font-weight: 400;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #000;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #6c757d;
}

.mb-0 {
  margin-bottom: 0;
}

// Font sizes
.size-xxs {
  font-size: var(--font-xxs);
}

.size-xs {
  font-size: var(--font-xs);
}

.size-sm {
  font-size: var(--font-sm);
}

.size-md {
  font-size: var(--font-md);
}

.size-lg {
  font-size: var(--font-lg);
}

.size-llg {
  font-size: var(--font-llg);
}
.size-xlg {
  font-size: var(--font-xlg);
}

.size-xxl {
  font-size: var(--font-xxl);
}
