@import "bootstrap/scss/bootstrap";

.size-picker-item-dark,
.size-picker-item-light {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
  text-align: center;
  align-self: center;
  height: 100%;
}

.size-picker-item-dark {
  background-color: var(--bs-dark);
  color: var(--bs-white);
  &.active {
    border: 1px solid var(--bs-dark);
    background-color: var(--bs-white);
    color: var(--bs-dark);
  }
}

.size-picker-item-light {
  background-color: var(--bs-white);
  color: var(--bs-dark);
  border: 1px solid $dark;
  &.active {
    border: 1px solid $white;
    background-color: var(--bs-dark);
    color: var(--bs-white);
  }
}
