@import "bootstrap/scss/bootstrap";

.top-bar-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: var(--bs-dark);
  border-bottom: 1px solid var(--bs-gray);
  color: var(--bs-light);
  padding: 18px 110px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.top-bar-container {
  z-index: 20;
}
