@import "bootstrap/scss/bootstrap";

.bag-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.bag-item-container {
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  width: 100%;
  gap: 13px;
}

.bag-item-info-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bag-item-checkout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 0px 20px 20px 20px;
}

.bag-divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.5;
}

.bag-item-trash-icon{
  font-size: 22px;
}
