@import "bootstrap/scss/bootstrap";

.retail-advertisement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
  width: 100%;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  padding: 34px 110px 47px 110px;
  margin-top: 67px;
}